/* .showThis{
  display: flex;
  background-color: rgb(255, 147, 47);
  z-index: 2;
} */
/* .showThat{
  display: none;
  
} */

body {
  background-color:#464444;
  /* background-color: #00ff00 ; */
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.container{
  display: flex;
  padding:30px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) {

  .main-container{
    margin: -3rem 8rem;
    height: 950px;
    display: flex;
  }

} 
.card-body{
  padding: 0px;
  height: 32vh;
  width: 110%;
  /* background-color: rgb(180, 133, 15); */
  background-color:#464444;

  transform: translate(0%, -35%); 

}

body div {
  /* background-color: transparent; */
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
}
/* !!fontsizes */
h4 {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 150%;
}
h6{
  margin-bottom: 0px;
  letter-spacing: 3px;
  margin-top: 10px;
  
}
h1 {
  color: white;
  font-size: 30px;
}

/* !! containers */
.student-info-background{
  /* display: flex; */
  justify-content: flex-end;
  width: 100%;
  transform: translate(0%, 66%); 
  background: transparent;
}
.x-heroicon{
  margin: 15px;
  width: 20px; 
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}
@keyframes stretch {
  0% {
    transform: scale(.3);
    border-radius: 100%;
  }
  50% {
  }
  100% {
    transform: scale(1.5);
  }
}


/* !! profile heroicon */
.check-circle-heroicon{
  width: 25px;
  transform: translate(222%, 50%); 
  z-index: 2;
}
.student-info {
  background-image: url("./imgs/1.jpeg");
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center 0;
  width: auto;
  height: 25%;
  /* height: 240px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 75%;
  border-radius: 25px 25px 0 0 ;

  /* transform: translate(0%, -1%);  */

  
}

.student-id{
  border: 1px solid white;
  height: 30px;
  border-radius: 40px;
  line-height:50%;
  color: white;
  background-color: rgba(207, 22, 89, 0.785);
  margin-top: 10px;
}

.profile-photo{
  background-image: url("https://i.pinimg.com/474x/e7/8b/58/e78b58dc548e00d04cd8217510b4e777.jpg");
  height: 50px;
  width: 50px;
  border-radius: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.enrolment-bar{

  display: flex;
  flex-direction: row;
  justify-content:space-between;
  text-align:center;
  width: 300px;
  height: 24%;
  border-radius: 25px;
  background-color: #343639;
  transform: translate(0%, -109%); 
  z-index: 2;
  margin: -40px 10px;
  /* margin: 0; */
}
/* !!media */
@media screen and (min-width: 1000px) {
  
  .enrolment-bar{
    width: 88%;    
  }
  .status h6{
    font-size: 16px;
    margin-top: 10px;
  }
  .status{
    padding: 0 50px;
  }
  
} 

@media only screen and (max-width: 1000px) and (min-width: 320px) {
  .enrolment-bar{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    width:99%;
    /* height: 19%; */
    /* margin-bottom: 12px; */
    transform: translate(0%, -198%);

  }
  .status h6{
    font-size: 12px;
    margin-top: 10px;
   }
}

@media only screen and (max-width: 1401px) and (min-width: 1001px) {
  .enrolment-bar{
    width:99%;
    transform: translate(0%, -77%);
  }
  .status h6{
    font-size: 12px;
    margin-top: 10px;
   }

}
.status{
  font-size: 19px;
  display: flex;
  flex-direction: column;
}
.enrolment-bar p{
  font-size: 2rem;
  color: rgb(135, 135, 135);
  margin-right: -15px;
}
.status h5{
  font-size: 10px;
 }
 /* 
!!CONTACT DETAILS SECTION
*/

.contact-details-container{
  height: 355px;
  background-color: #27282a;
  transform: translate(0%, -40%); 
  z-index: 1;
  
}
.contact-container{
  display: flex;
  flex-direction: column;
  margin-top: 25px;

}
.contact-container h6{
  font-size: 10px;
  letter-spacing: 1px;
  line-height:50%
}

.about-me-container {
  display: flex;
  flex-direction: column;
  /* margin-top: -30px; */
  transform: translate(0%, -60%); 
}
.about-me-container h6 {
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: 1px;
  /* line-height:100%; */
}
/* 
!!

/* !!media */
@media screen and (min-width: 800px) {
  .contact-container{
    /* display: flex;
    flex-direction: column; */
    margin-top: 40px;
  
  }
  .contact-container h6{
    font-size: 11px;
    /* margin-bottom: 5px; */
    /* line-height:1% */

  }
  .about-me-container h6 {
    font-size: 11px;
    /* padding-bottom: 20px; */
   
  }

  
} 




/* 
!!CURRENT COURSE SECTION
*/


.current-course-container{
  display: flex;
  align-items:center;
  align-content: center;
  justify-content: space-between;

  background-color: #343639;
  transform: translate(0%, -355%);
  z-index: 1; 
  height: 50px;
  /* margin-top: 60px; */
}
/* 
!!MEDIA
*/
@media screen and (min-width: 320px) {
  .current-course-container{
   
    width: 99%;
    display: flex;
  flex-direction: row;
  }

  
}


.coursecontainer{
  display: block;
  padding: 2px;
}
.coursecontainer h5{
  margin-top: 0px;
}
/* 
!!hero-icon
*/
.hat-container div{
  width: 30px;
}
.neonglow{
  background: rgb(241, 6, 139);
	border-radius: 50%;
  padding: 5px;
	margin: 10px;
	height: 15px;
	width: 15px;
  color:rgb(255, 255, 255);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(254, 4, 217, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(224, 85, 192, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(220, 152, 210, 0);
	}
}

@media only screen and (max-width: 1200px) and (min-width: 700px) {
  .neonglow{
    padding: 5px;
    margin: 0 5px;
    height: 25px;
    width: 25px;
  }
 

}

@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .neonglow{
    padding: 5px;
    margin: 0 5px;
    height: 30px;
    width: 30px;


  }
 
  

}


.arrow-container div{
  display: block;
  /* padding-left: -190px; */
  width: 90px;
}

.arrow-currentcourse{
  margin: 10px;
	height: 20px;
	width: 20px;
  margin-left: 11px;
  /* position: relative; */
}




/* 
!!my-photos section
*/
.myphotos-container{
  display: flex;
  flex-direction: column;
  background-color: #343639;
  height: 30%;
  width: 100%;
  transform: translate(0%, -340%); 
  z-index: 1;
}
.arrow-myphotos{
  margin: 10px;
	height: 20px;
	width: 20px;
  margin-left: 101px;
  /* position: relative; */
}

.myphotos-container h5{
  margin-left: 25px;
}


.arrow-myphotos{
  margin-right:30px;
}

.myphotos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #343639;
  height: 100px;
  width: 100%;
  transform: translate(-3%, -20%); 
  z-index: 1;
 
}
.photoscontainer{
  display: flex;
  flex-direction: column;
  background-color: #343639;
  height: 300%;
  width: 100%;
  transform: translate(-103%, 28%); 
  z-index: 1;
}

@media only screen and (min-width: 301px) and (max-width: 700px)  {
  .myphotos{
    transform: translate(-3%, -20%); 
  }
  .photoscontainer{
    transform: translate(-103%, 28%);   
    height: 263%;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1099px)  {
  .myphotos{
    transform: translate(-3%, -20%); 
  }
  .photoscontainer{
    transform: translate(-103%, 28%); 
  }
}

@media only screen and (min-width: 1100px) and (max-width:1400px) {
  .myphotos{
    transform: translate(-3%, -20%); 
  }
  .photoscontainer{
    transform: translate(-103%, 28%); 
  }
}
.photosdiv1{
  display: flex;
  flex-direction: row;
  background-image:url("https://images.westend61.de/0001355145pw/woman-working-outside-using-laptop-MASF17324.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;

  height: 69%;
  transform: translate(14%, -2%); 
  width: 34%;
  margin: 0 0px;
  border-radius:5px;
}
.photosdiv2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color:transparent;
  height: 95%;
  width: 50%;
  padding: 0 28px;
  border-radius:5px;
}

@media only screen and (min-width: 1000px) and (max-width: 1060px)  {
  .photosdiv2{
    width: 55%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 900px)  {
  .photosdiv2{
    height: 92%;
  }
}

.single-photo{

  background-image:url("https://i.ytimg.com/vi/EkpYgepycN4/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;

  height: 25%;
  /* width: 60%; */
  border-radius:5px;
  /* transform: translate(6%, -4%);  */
  margin-bottom: 1px;;

}

@media only screen and (min-width: 320px) and (max-width: 999px)  {
  .single-photo{
    transform: translate(4%, -4%); 
    width: 72%;
  }
}

@media only screen and (min-width: 1000px)  {
  .single-photo{
    transform: translate(4%, -4%); 
    width: 63%;
  }
}
@media only screen and (min-width: 1050px)  {
  .single-photo{
    transform: translate(4%, -4%); 
    width: 67%;
  }
}

@media only screen and (min-width: 1101px) {
  .single-photo{
    width: 72%;
  }
}
@media only screen and (min-width: 1151px) {
  .single-photo{
    width: 72%;
  }
}
@media only screen and (min-width: 1201px) {
  .single-photo{
    width: 80%;
  }
}

.double-photos{
  display: flex;
  flex-direction:column ;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  padding: 0px;
  transform: translate(-5%, -4%); 

}
@media only screen and (min-width: 300px) and (max-width: 599px) {
  .double-photos{
    transform: translate(-5%, -4%); 
    width: 100%;
  }
}
@media only screen and (min-width: 600) and (max-width: 999px) {
  .double-photos{
    transform: translate(-2%, -4%); 
    width: 94%;
  }
}

@media only screen and (min-width: 1000px) {
  .double-photos{
    transform: translate(-8%, -4%); 
    width: 96%;
  }
}
@media only screen and (min-width: 1050px) {
  .double-photos{
    transform: translate(-6%, -4%); 
    width: 98%;
  }
}
@media only screen and (min-width: 1101px) and (max-width: 1200px) {
  .double-photos{
    transform: translate(-5%, -4%); 
    width: 100%;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .double-photos{
    transform: translate(-2%, -4%); 
    width: 100%;
  }
}

.single-img{
  /* display: flex;
  flex-direction: row; */
  background-image:url("https://images.skyscrapercenter.com/building/shangrilahotelandresidences_ext-lookingup_(cc__by-sa)darren__kirby.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  margin-left: 5px;
  /* margin: 0 0px; */
  height: 30%;
  width: 30%;
  border-radius: 5px;

}
.single-img-wth-icon{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2oTMfmtaeh-wa2rUb8Kubq6cpFfsHIrUjWMIitQPFNYZ9EYVDC4JgE6FPd8nfRqe7Y8k&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  filter: brightness(80%);
  /* margin: 0 0px; */
  margin-left: 5px;
  height: 30%;
  width: 26%;
  border-radius: 5px;
}

@media only screen and (min-width: 300) and (max-width: 700) {
  .single-img{
    transform: translate(7%, -4%); 
    width: 24%;
  }
  /* .single-img-wth-icon{
    width: 25%;
  } */
}

@media only screen and (min-width: 1000px) {
  .single-img{
    /* transform: translate(7%, -4%);  */
    width: 25%;
  }
  .single-img-wth-icon{
    width: 25%;
  }
}

@media only screen and (min-width: 1101px) {
  .single-img{
    width: 38%;
  }
  .single-img-wth-icon{
    width: 19%;
  }
}

@media only screen and (min-width: 1201px) {
  .single-img{
    width: 40%;
  }
  .single-img-wth-icon{
    width: 25%;
  }
}
@media only screen and (min-width: 1301px) {
  .single-img{
    width: 46%;
  }
  .single-img-wth-icon{
    width: 22%;
  }
}

/* @media only screen and (max-width: 1100px) and (min-width: 320px) {

  .single-img{
    
    height: 10%;
    width: 10%;
    
  
  }
  .single-img-wth-icon{
    
    height: 10%;
    width: 10%;
  
  }
  
  

} */


/* TODO max-width: 2 == valid till 2 */
/* TODO min-width: 1 == valid from 1 */



@media only screen and (max-width: 1400px) and (min-width: 320px) {

  
  .rightarrow-heroicon{
      /* margin: 20px; */
      /* position: absolute; */
      width: 25px;
    transform: translate(56%, -20%); 
    z-index: 2;
    /* transform: translate(-104%, 28%);  */
    /* z-index: 1; */
  
  }
  

}









/* @media screen and (min-width: 300px) and (max-width: 900px) {
  .x-heroicon{
    width: 23px;
    padding: 10px;
    
    color: red;
  }
}  */
/* @media screen and (min-width: 900px)  {
  .x-heroicon{
    width: 23px;
    z-index: 2;
    color: yellowgreen;
  }
}  */
/* @media screen and (min-width: 1000px) and (max-width: 1050px) {
  .x-heroicon{
 
    position: sticky;
    color: rgb(0, 170, 255);
  }
}  */

/* @media screen and (min-width: 1051px) and (max-width: 1100px) {
  .x-heroicon{
    width: 23px;
    position: sticky;
    color: red;
  }
}  */


